.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: gray
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.car-container {
  margin: 50px;
}

.car-paper {
  padding: 50px;
}

#centerContainer {
 display: flex;
 justify-content: center;
 margin-top: 60px;
}

#container  {
width: 550px;
height: 300px;
box-shadow: 1px 1px 5px .1px #888888;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}

#chips {
 width: 450px;
}

#CarName {
 font-size: 26px;
 width: 450px;
 font-weight: bold;
}